body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {

    svg{
        width:3vw;
        height: 3vw;
        color: white;
    }


    article {
        overflow-wrap: break-word;
        font-size: x-small;
    }

    .willkommen{
        font-size: 0;
    }

    .üs{
        font-size: medium;
    }
    .weiter-lesen {
        text-align: center;
        font-size: small;
    }

    .astrologie{
        font-size: small;
    }
    
    .innen {
        overflow-wrap: break-word;
        width: 5vw;
        background-color: #000;
        color: #ffffff00;
        height: 100vh;
        margin-top: 0;
        border-right-color: gold;
        border-right-width: .1vw;
        border-right-style: solid;
        font-size: larger;
        transition: 1000ms;
    }

    canvas {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 35.5vw;
        transition: 1000ms;

    }

    .listen {
        font-size: small;
        margin-top: 5%
    }

    .planeten {
        font-size: medium
    }

}

@media only screen and (min-width: 500px) {

    svg{
        width:3vw;
        height: 3vw;
        color: white;
    }

    article {
        overflow-wrap: break-word;
        
    }

    .willkommen{
        font-size: larger;
    }

    .weiter-lesen {
        text-align: center;
        font-size: larger;
    }

    .üs{
        font-size: x-large;
    }
    
    .innen {
        overflow-wrap: break-word;
        width: 5vw;
        background-color: #000;
        color: #ffffff00;
        height: 100vh;
        margin-top: 0;
        border-right-color: gold;
        border-right-width: .1vw;
        border-right-style: solid;
        font-size: larger;
        transition: 1000ms;
    }

    /* .innen:hover{
        width: 20vw;
        color: white;

    } */

    canvas {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 20.1vw;
        transition: 1000ms;
    }

    .listen {
        font-size: large;
        
    }

    .planeten {
        font-size: larger
    }
}

a {
    text-decoration: none;
    color: #fff
}

.artikel {
    text-align: center;
    margin-top: 5%
}



#planet1:hover {
    color: gray
}

#planet2:hover {
    color: #daa520
}

#planet3:hover {
    color: #00bfff
}

#planet4:hover {
    color: #ff4500
}

#planet5:hover {
    color: #ffb55a
}

#planet6:hover {
    color: #fbe981
}

#planet7:hover {
    color: #0ff
}

#planet8:hover {
    color: #00f
}

li {
    padding-top: 5px
}